!!!
%html
  %head
    %title Busapp
    = include_gon
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyAMfb-e_lin2X83TZjxhMvoMlqI_JKfjuk", type: "text/javascript"}
      :cdata
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}

    .container
      = yield

    %nav.navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
      .container
        %ul.nav.nav-pills
          %li.active
            %a{href: "#"}
              %span.glyphicon.glyphicon-home
              Home
          %li
            %a{href: "#"}
              %span.glyphicon.glyphicon-headphones
              Tour
          %li
            %a{href: "#"}
              %span.glyphicon.glyphicon-map-marker
              Landmarks
          %li
            %a{href: "#"}
              %span.glyphicon.glyphicon-globe
              Map


