!!!
%html
  %head
    %title Busapp
    = include_gon
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyAMfb-e_lin2X83TZjxhMvoMlqI_JKfjuk", type: "text/javascript"}
      :cdata
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
      .right-nav
        .user-nav
          - if user_signed_in?
            Logged in as
            %b= current_user.email
            = link_to 'Logout',  destroy_user_session_path, method: :delete
          - else
            = link_to 'Sign up', new_user_registration_path
            \|
            = link_to 'Login', new_user_session_path

    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, :class => "alert alert-#{name}"
      = yield

    %nav.navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
      .container
        %ul.nav.nav-pills
          %li.active
            %a{href: "/"}
              %span.glyphicon.glyphicon-home
              Home
          %li
            %a{href: "/tour"}
              %span.glyphicon.glyphicon-headphones
              Tour
          %li
            %a{href: "/audio_clips"}
              %span.glyphicon.glyphicon-map-marker
              Landmarks
          %li
            %a{href: "/map"}
              %span.glyphicon.glyphicon-globe
              Map


