!!!
%html
  %head
    %title Busapp
    = include_gon
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      %div#demo
        %h1 This is where the geo code should go
      = yield
